// Control bar
  #mde-controlbar {
    box-shadow:    0px 0px 1px 1px rgba(0,0,0,0.1);
    position:      fixed;
    top:           10px;
    left:         10px;
    z-index:       1;
    border: thin solid #6e6e6e;

    &.mde-controlbar-tr {
      right: 10px;
      left: auto;
    }

    > button {
      padding: 4px 8px;
      background: transparent;
      outline: 0;
      border: none;
      cursor: pointer;

      svg {
        height: 15px ;
        width: 15px;
        vertical-align: top;
        fill: #6e6e6e;
      }

      &:hover svg {
        fill: #323232;
      }

      &.active svg {
        fill: black;
      }
    }
  }

/* logtray wrapper */

#mde-logtray {
  display:       none; }

#mde-logtray.active {
  background:    rgb(255,227,159);
  bottom:        0;
  display:       inline-block;
  font-family:   "Lucida Grande", sans-serif;
  font-size:     12px;
  left:          0;
  position:      fixed;
  right:         0; }

/* resize logtray button */

#mde-logtray.active #mde-resize-logtray {
  position: absolute;
  background: #ffffff;
  padding: 0;
  cursor: ns-resize;
  border: 1px solid #6c6c6c;
  border-left: none;
  border-right: none;
  font-size: 8px;
  width: 100%;
  line-height: 9px;
  outline: 0;
  letter-spacing: 10px;
  // Necessary to add an indent half of letter-spacing to properly center text
  text-indent: 5px;
}

/* logs wrapper */

#mde-logtray.active #mde-logs {
  bottom:        0;
  font-family:   monospace;
  height:        calc(100%-10px);
  left:          0;
  overflow-y:    scroll;
  position:      absolute;
  right:         0;
  top:           10px; }

/* logtray logs log */

#mde-logtray.active #mde-logs .log {
  border-bottom: thin solid rgba(0,0,0,0.2);
  box-sizing:    border-box;
  clear:         both;
  overflow:      hidden;
  padding:       5px;
  position:      relative;
  text-overflow: ellipsis;
  white-space:   nowrap;
  width:         100%;
  word-break:    break-all; }

  #mde-logtray.active #mde-logs .log .preview .stack:not(:empty) {
  background-color: rgba(139,69,19,0.25);
  border:        thin solid rgba(45,45,45,0.8);
  border-radius: 2px;
  color:         rgb(45,45,45);
  float:         left;
  font-size:     80%;
  font-weight:   bold;
  line-height:   14px;
  margin-right:  5px;
  height:        14px;
  padding:       1px 3px 0 3px;
  border-radius: 4px;
  text-align:    center;
  vertical-align: middle; }

#mde-logtray.active #mde-logs .log .preview .message {
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap; }

#mde-logtray.active #mde-logs .log .preview .trace,
#mde-logtray.active #mde-logs .log .preview .trace:visited {
  color:         rgb(45,45,45);
  float:         right;
  padding-left:  5px;
  text-decoration: underline; }

#mde-logtray.active #mde-logs .log.error { color: red; }
#mde-logtray.active #mde-logs .log.null,
#mde-logtray.active #mde-logs .log.undefined { color: rgb(120,120,120); }
#mde-logtray.active #mde-logs .log.number,
#mde-logtray.active #mde-logs .log.boolean,
#mde-logtray.active #mde-logs .log.NaN { color: blue; }
#mde-logtray.active #mde-logs .log.htmlcollection .message,
#mde-logtray.active #mde-logs .log.object .message { font-style: italic;}

#mde-logtray.active #mde-logs .log .full {
  display:       none; }
#mde-logtray.active #mde-logs .log.expand .preview .message {
  font-weight:   bold; }
#mde-logtray.active #mde-logs .log.expand .full {
  background:    rgba(139,69,19,0.25);
  box-shadow:    inset 1px 1px 1px rgba(0,0,0,0.2);
  display:       block;
  margin:        5px -5px -5px -5px;
  padding:       5px;
  white-space:   normal; }
